<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none">

  <!--  <test name="IETestCases">

        <parameter name="browser" value="ie"/>

        <classes>
            <class name="RegistrationTests"/>
            <class name="SignInTest"/>
            <class name="PrettyWomenTest"/>
            <class name="PhotosPageTest"/>
            <class name="GiftsTest"/>
            <class name="MainPageTests"/>
            <class name="BlogPageTest"/>

        </classes>
    </test>-->

    <!--<test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="RegistrationTests"/>
            <class name="SignInTest"/>
            <class name="PrettyWomenTest"/>
            <class name="PhotosPageTest"/>
            <class name="GiftsTest"/>
            <class name="MainPageTests"/>
            <class name="BlogPageTest"/>
        </classes>
    </test>-->


    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
       <!-- <groups>
            <run>
                <exclude name="ie"/>
                <include name="admin"/>
                <include name="user"/>
            </run>
        </groups>-->
        <classes>
            <class name="RegistrationTests"/>
            <class name="SignInTest"/>
            <class name="PrettyWomenTest"/>
            <class name="PhotosPageTest"/>
            <class name="GiftsTest"/>
            <class name="MainPageTests">
            <!--    <methods>
                    <include name=" .*Tabs.*"/>
                    <include name=" .*Links.*"/>
                    <include name=" .*Size.*"/>
                    <include name=" .*Frame.*"/>
                    <include name=" .*Book.*"/>
                    <include name=" .*Discount.*"/>
                    <include name=" .*Header.*"/>
                </methods>-->
            </class>
            <class name="BlogPageTest"/>
            <class name="ContactUsPageTest"/>

        </classes>
    </test>
</suite>


