<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >

    <test name="IETestCases">

        <parameter name="browser" value="ie"/>

        <classes>
            <class name ="RegistrationTests"/>
            <class name ="SignInTest"/>
            <class name ="PrettyWomenTest"/>
            <class name ="PhotosPageTest"/>
            <class name ="GiftsTest"/>
            <class name ="MainPageTests"/>
            <class name ="BlogPageTest"/>

        </classes>
    </test>

    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>
        <classes>
            <class name ="RegistrationTests"/>
            <class name ="SignInTest"/>
            <class name ="PrettyWomenTest"/>
            <class name ="PhotosPageTest"/>
            <class name ="GiftsTest"/>
            <class name ="MainPageTests"/>
            <class name ="BlogPageTest"/>
        </classes>
    </test>
    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <exclude name = "ie"  />
                <include name = "admin"  />
                <include name = "user"  />
            </run>
        </groups>

        <classes>
            <class name ="RegistrationTests"/>
            <class name ="SignInTest"/>
            <class name ="PrettyWomenTest">
                    <methods>
                        <include name=" .*TestCase3.*"/>
                        <include name=" .*TestCase4.*"/>
                        <include name=" .*TestCase5.*"/>
                        <include name=" .*TestCase6.*"/>

                    </methods>
            </class>
            <class name ="PhotosPageTest"/>
            <class name ="GiftsTest"/>
            <class name ="MainPageTests"/>
            <class name ="BlogPageTest"/>







        </classes>
    </test>
</suite>


